doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        {% if cookiecutter.lock_zoom.lower() == "y" -%}
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1")
        {%- else -%}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        {%- endif %}

        title {{cookiecutter.name}}
        meta(name="description" content="{{cookiecutter.description}}")

        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

        link(rel="icon" type="image/png" href="img/icon-32x32.png")
        link(rel="shortcut icon" type="image/png" href="img/icon-32x32.png")

        link(rel="manifest" href="manifest.json")

        meta(name="theme-color" content="{{cookiecutter.theme_color}}")

        meta(name="mobile-web-app-capable" content="yes")
        meta(name="application-name" content="{{cookiecutter.name}}")

        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="{{cookiecutter.name}}")

        link(rel="apple-touch-icon" href="img/icon-512x512.png")
        link(rel="apple-touch-icon" sizes="512x512" href="img/icon-512x512.png")

        meta(name="msapplication-TileImage" content="img/icon-512x512.png")
        meta(name="msapplication-TileColor" content="{{cookiecutter.theme_color}}")
        meta(name="msapplication-tap-highlight" content="no")

    body
        != yield
        script.
            if ('serviceWorker' in navigator) {
                // Register a service worker hosted at the root of the
                // site using the default scope.
                navigator.serviceWorker.register('sw.js').then(function(registration) {
                    console.log('Service worker registration succeeded:', registration);
                }).catch(function(error) {
                    console.log('Service worker registration failed:', error);
                });
            } else {
                console.log('Service workers are not supported.');
            }
