html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

blockquote,
body,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0.3rem 0;
}

h2 {
    padding: 0.2rem 0;
}

h3,
h4,
h5,
h6 {
    padding: 0.1rem 0;
}

p {
    padding: 0.2rem 0;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
    min-height: 100vh;
}

img {
    max-width: 100%;
}
